:root{
    --background-color: black;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: var(--background-color);
    height: 75px;
    position: absolute;
    width: 100VW;
    align-items: center;
}
#navbar-image{
    position: absolute;
    right: 50px;
    border-radius: 50%;
    width: 48px;
}
.links-navbar{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}
@media (max-width 600px) {
    #navbar{
        flex-direction: row-reverse;
    }
    #navbar-image{
        left: 50px;
    }
}